{% extends "quotes_app/base.html" %}

{% block content %}

<h1>Add quote</h1>
<form action="{% url 'quotes_app:add_quote' %}" method="post">
    {% csrf_token %}
    <div class="mb-3">
        <label class="form-label">Quote</label>
        {{form.quote}}
    </div>
    <div class="mb-3">
        <label class="form-label">Tags</label>
        {{ form.tags }}
    </div>
    <div class="mb-3">
        <label class="form-label">Author</label>
        {{ form.author }}
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}
